/* Styles for the squares */
.square {
    color: black;
    width: 65px;
    height: 65px;
    border-radius: 0;
}

.win {
    background-color: rgba(75, 200, 56, 0.5);
}

.lose {
    background-color: rgba(255, 0, 0, 0.5);
}

.tie {
    background-color: rgba(255, 216, 0, 0.5);
}

#tic-tac-toe td {
    border: 5px solid black;
}

.square {
    font-size: xx-large;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tile {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}

.tile h2 {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 25px;
}

.tile ul {
    padding-left: 20px;
}

#controls {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 3px solid lightgray;
}